<a href="https://colab.research.google.com/github/kerryqliu/stats170/blob/irene/document_label_mapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:Stats170AB@stats170.c56hn1tg3mkg.us-east-1.rds.amazonaws.com:5432')

In [9]:
import pandas as pd

In [17]:
engine.execute("DROP TABLE IF EXISTS documentLabels;")
engine.execute("CREATE TABLE documentLabels ( docID int, caseID int NOT NULL, label float, PRIMARY KEY (docID, caseID));")

In [11]:
import csv

In [20]:
engine.execute("INSERT INTO documentLabels VALUES (%s, %s, %s)", 3, -1, 4)

In [25]:
with open('/content/drive/Shareddrives/CAPSTONE/document_labels.csv', 'r') as file:
  read = csv.reader(file, delimiter=',')
  for row in read:
    if row[2] == '5.1':
      # print('inc 5.1', row)
      row[2] = 4
    elif row[2] == '5.2':
      # print('inc 5.2', row)
      row[2] = 3
    elif row[2] == '5.3':
      # print('dec 5.3', row)
      row[2] = 1
    elif row[2] == '5.4':
      # print('norm 5.4', row)
      row[2] = 2
    else:
      # print('n/a')
      row[2] = 0
    print("--", row[0], row[1], row[2])
    engine.execute("INSERT INTO documentLabels VALUES (%s, %s, %s)", row[0], row[1], row[2])

-- 4 11594 1
-- 5 11594 1
-- 6 11639 2
-- 7 11966 1
-- 8 12464 1
-- 9 12871 1
-- 10 14386 0
-- 11 14414 3
-- 12 15123 0
-- 13 17687 2
-- 14 17817 1
-- 15 17908 1
-- 16 20599 0
-- 17 21813 1
-- 18 22394 1
-- 19 24075 0
-- 20 24476 1
-- 21 26084 1
-- 22 26373 0
-- 23 26506 4
-- 24 26728 1
-- 25 26820 1
-- 26 27405 1
-- 27 29833 0
-- 28 31076 1
-- 29 31356 1
-- 30 31420 1
-- 31 31748 4
-- 32 32002 1
-- 33 33168 0
-- 34 33832 0
-- 35 61505 2
-- 36 61666 1
-- 37 61692 1
-- 38 62201 0
-- 39 62593 1
-- 40 64409 1
-- 41 64979 1
-- 42 67385 1
-- 43 67390 1
-- 44 67892 0
-- 45 70965 1
-- 46 72440 3
-- 47 73523 1
-- 48 73569 1
-- 49 73833 0
-- 50 73871 1
-- 51 74492 2
-- 52 74964 1
-- 53 76758 0
-- 54 78443 1
-- 55 79879 2
-- 56 80477 0
-- 57 80589 2
-- 58 81607 1
-- 59 83536 1
-- 60 82415 1
-- 61 82003 2
-- 62 81845 0
-- 63 85257 1
-- 64 86254 4
-- 65 86522 1
-- 66 88341 1
-- 67 89904 0
-- 68 90631 1
-- 69 91652 3
-- 70 95000 2
-- 71 96704 1
-- 72 98103 0
-- 73 98983 1
-- 74 99585 1
-- 75 36091 1
-- 76 36665 1
-- 77 37815 1
-- 78 38451 1
-- 79 39351 1
-- 80 41068 1
-- 81 41350 3
-- 82 41620 1
-- 83 44456 4
-- 84 44633 1
-- 85 45492 0
-- 86 45504 1
-- 87 47366 0
-- 88 50069 1
-- 89 52492 0
-- 90 53495 1
-- 91 53899 1
-- 92 54202 0
-- 93 57203 0
-- 94 57254 1
-- 95 57804 2
-- 96 58016 1
-- 97 58157 1
-- 98 59093 1
-- 99 60618 2
-- 100 61082 1
-- 101 61207 3
-- 102 68214 1
-- 103 75636 1
-- 104 76603 4
-- 105 77964 1
-- 106 82525 1
-- 107 82691 1
-- 108 83739 2
-- 109 83798 3
-- 110 86049 1
-- 111 87832 1
-- 112 88178 1
-- 113 95139 1
-- 114 95739 2
-- 115 97245 1

In [26]:
docLabels = "SELECT * FROM documentLabels"
doclabel_df = pd.read_sql_query(docLabels, con=engine)
doclabel_df

     docid  caseid  label
0        1      -1    1.0
1        2      -1    1.0
2        3      -1    4.0
3        4   11594    1.0
4        5   11594    1.0
..     ...     ...    ...
110    111   87832    1.0
111    112   88178    1.0
112    113   95139    1.0
113    114   95739    2.0
114    115   97245    1.0

[115 rows x 3 columns]

In [ ]:
for index, row in doclabel_df.iterrows():
  print(index, row['docid'], row['caseid'], row['label'])

0 4.0 11594.0 5.3
1 5.0 11594.0 5.3
2 6.0 11639.0 5.4
3 7.0 11966.0 5.3
4 8.0 12464.0 5.3
5 9.0 12871.0 5.3
6 10.0 14386.0 5.5
7 12.0 15123.0 5.5
8 13.0 17687.0 5.4
9 14.0 17817.0 5.3
10 15.0 17908.0 5.3
11 16.0 20599.0 5.5
12 17.0 21813.0 5.3
13 18.0 22394.0 5.3
14 19.0 24075.0 5.5
15 20.0 24476.0 5.3
16 21.0 26084.0 5.3
17 22.0 26373.0 nan
18 23.0 26506.0 5.1
19 24.0 26728.0 5.3
20 25.0 26820.0 5.3
21 26.0 27405.0 5.3
22 27.0 29833.0 nan
23 28.0 31076.0 5.3
24 29.0 31356.0 5.3
25 30.0 31420.0 5.3
26 31.0 31748.0 5.1
27 32.0 32002.0 5.3
28 33.0 33168.0 5.5
29 34.0 33832.0 5.5
30 35.0 61505.0 5.4
31 36.0 61666.0 5.3
32 37.0 61692.0 5.3
33 38.0 62201.0 5.5
34 39.0 62593.0 5.3
35 40.0 64409.0 5.3
36 41.0 64979.0 5.3
37 42.0 67385.0 5.3
38 43.0 67390.0 5.3
39 44.0 67892.0 5.5
40 45.0 70965.0 5.3
41 46.0 72440.0 5.2
42 47.0 73523.0 5.3
43 48.0 73569.0 5.3
44 49.0 73833.0 5.5
45 50.0 73871.0 5.3
46 51.0 74492.0 5.4
47 52.0 74964.0 5.3
48 53.0 76758.0 5.5
49 54.0 78443.0 5.3
50 55.0 79879.0 5.4
51 56.0 80477.0 5.5
52 57.0 80589.0 5.4
53 58.0 81607.0 5.3
54 62.0 81845.0 5.5
55 61.0 82003.0 5.4
56 60.0 82415.0 5.3
57 59.0 83536.0 5.3
58 63.0 85257.0 5.3
59 64.0 86254.0 5.1
60 65.0 86522.0 5.3
61 66.0 88341.0 5.3
62 67.0 89904.0 5.5
63 68.0 90631.0 5.3
64 69.0 91652.0 5.2
65 70.0 95000.0 5.4
66 71.0 96704.0 5.3
67 72.0 98103.0 5.5
68 73.0 98983.0 5.3
69 74.0 99585.0 5.3